---
const dest = 'https://docs.agentkitproject.com/';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; url=${dest}`} />
    <link rel="canonical" href={dest} />
    <title>Redirecting to docs.agentkitproject.com…</title>
    <script define:vars={{ dest }}>window.location.replace(dest);</script>
  </head>
  <body>
    <p>The AgentKitForge docs have moved. <a href={dest}>Go to docs.agentkitproject.com →</a></p>
  </body>
</html>
